<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Profit Sheet</h1>
    <p>Hello <%= @calculate_profit.name %>,</p>
    <p>Thank you for using our profit calculator. Please find your profit sheet attached.</p>
    <p>Best regards,<br>Longleaf Lending</p>
  </body>
</html>
